.ColumnTable {
  &.green {
    background-color: #ecf6e7;

    span {
      color: #659f63;
      font-weight: 700;
    }
  }

  &.red {
    background-color: #ffe7e3;

    span {
      color: #ba2523;
      font-weight: 700;
    }
  }

  &.growth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 32px;
    @media screen and (max-width: 992px) {
      width: 100%;
      height: fit-content;
    }
    @media screen and (max-width: 639px) {
      flex-direction: column;
      row-gap: 16px;
      justify-content: center;
      text-align: center;
    }

    span {
      color: #659f63;
    }
  }
}
